<div id="wrapper" class="animate">
    <div class="container-fluid">
    <div class="col p-4">
      <div class="register" style="width:90%;background: transparent;margin-left: 9%;height:370px;"> 
          <table class="table table-responsive">
            <tr>
              <td>
                <form id="g" [formGroup]="searchform" class="form-inline ml-auto">
                  <div class="md-form my-0">
                    <input type="search" id="search" formControlName="itemname" class="form-control" placeholder="Search" aria-label="Search" />
                  </div>
</form>
  </td>
  <td>
  <button (click)="SearchItems()" class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button></td>
  <td>
    <div class="text-center">
      <select [(ngModel)]="category" class="form-control">   
        <option>Select Item ByCategory</option>
        <option *ngFor="let item of categorylist" value="{{item.categoryid}}">{{item.categoryname}}</option>
      </select>
    </div>
  </td>
    <td>
    <button class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit" (click)="SearchItemByCategory(category)">Search</button>
  </td>
  <td>
    <div class="text-center">
      <select [(ngModel)]="subcategory" class="form-control">   
        <option>Select Item By SubCategory</option>
        <option *ngFor="let item of subcategorylist" value="{{item.subcategoryid}}">{{item.subcategoryname}}</option>
      </select>
    </div>
  </td>
  <td>
    <button class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" type="submit" (click)="SearchItemBySubCategory(subcategory)">Search</button>  
  </td>
</tr>
          </table> 
      <div class="card mb-3" style="width:1000px;background: transparent;border:0;">
                    <div class="row no-gutters">
                      <div class="col-md-8">
                        <div class="card-body" style="width: auto;">
                          <table class="box" style="background-color:whitesmoke;width:98%;">
                            <!-- <tr *ngFor="let item of list">
                                <th>{{item.itemname}}</th>
                            </tr> -->
                            <tr *ngFor="let item of list">
                               <td> <img src='/assets/images/{{item.imagename}}' style="height:150px; width:150px;"></td>
                               <td>
                              Price: {{item.price}}
                              Name: {{item.itemname}}
                              Stock : {{item.stocknumber}}</td>
                              <td>
                              <button class="btn btn-primary btn-outline-white btn-md my-0 ml-sm-2" (click)="buy(item)" >Buy Now</button></td>
                              <td><button class="btn btn-warning btn-outline-white btn-md my-0 ml-sm-2" (click)="AddtoCart(item)">Add To Cart</button></td>
                            
                            </tr>
                        </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
        </div>
    </div><!-- Main Col END -->
    
  
  <router-outlet></router-outlet>